*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  width: 100%;
  background-color: rgb(213, 217, 238);
}

.nav {
  justify-content: space-between;
  padding: 2px;
  display: flex;
  gap: 20px;
  color: azure;
  background-color: rgb(27, 27, 71);
}

.span1 {
  color: rgb(27, 27, 71) ;
  background-color: rgb(79, 90, 140);
  padding: 9px;
  border-radius: 2px;
}

.nav-items1 {
  display: flex;
  gap: 20px;
  margin:10px;
}

.sports-betting{
text-decoration: underline;
 color: rgb(214, 129, 59);
}

.nav-items2 {
  display: flex;
  gap: 10px;
  margin:10px;
  

}

.login {
  border-radius: 2px;
  padding: 5px;
  background-color: rgb(189, 174, 163);
}

.register {
  border-radius: 2px;
  padding: 5px;
  background-color: rgb(246, 128, 38);
}

.nav2 {
  display: flex;
  padding: 15px;
  gap: 20px;
  color: azure;
  background-color: rgb(27, 27, 71);
  margin: 10px;
}

.content {
  margin: 10px;
  color: white;
  height: 500px;
  display: flex;
  gap: 10px;

  
}

.content1 {
  display: flex;
  flex-direction: column;
align-self: flex-start;
color: rgb(27, 27, 27);
background-color: rgb(240, 239, 237);
width: 30%;
height: 500px;
gap: 20px;
padding: 5px;
}

.span-content1 {
  display: flex;
  justify-content: space-between;
}

.content2 {
  color: black;
  display: flex;
  flex-direction: column;
  
  flex-direction: column;
align-self: flex-start;
background-color: rgb(227, 227, 226);
width: 60%;
height: 500px;


}



.span-bar { 
  align-self: center;
}

.content2-item1 {
  color: white;
  background-color: rgb(27, 27, 71) ;
  padding: 10px;
}

.content2-item2 {
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

}

.content2-item3 {
  padding: 20px;
  background-color: rgb(27, 27, 71) ;
}

.content2-item5{
  border-bottom: 1px solid rgb(84, 83, 83);
}

.content2-item6{
  border-bottom: 1px solid rgb(84, 83, 83);
}
.content2-item7{
  border-bottom: 1px solid rgb(84, 83, 83);
}

.content2-item8{
  border-bottom: 1px solid rgb(84, 83, 83);
}

.content2-item9{
  border-bottom: 1px solid rgb(84, 83, 83);
}

.content2-item10{
  border-bottom: 1px solid rgb(84, 83, 83);
}

.content2-item11{
  border-bottom: 1px solid rgb(84, 83, 83);
}

.content3 {
  color: black;
  background-color: rgb(213, 217, 238);
  width: 30%;

}

.betting-ticket {
  color: white;
  background-color: rgb(27, 27, 71) ;
  padding: 10px;
}